# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# binaries
*.amd64
minikube-linux-amd64

# shell installers
get_helm.sh
kind-install.sh

# certificates
*.crt

# kube config files
cluster-config.yml
